.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.input-container label {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 4px;
}

.input-container input {
    width: 100%;
    padding: 12px 16px;
    background-color: #F5F5F5;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    border: none;
}

.checkbox-input {
    width: 100%;
    padding: 12px 16px;
    background-color: #F5F5F5;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    border: none;
}

