:root {
  font-family: open sans, sans-serif;

  --primary-color: #C20000;
  --footer-color: #004373;
  
}

.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
